[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Steven Noble (sonoble)
[access "refs/for/refs/*"]
	read = group user/Steven Noble (sonoble)
	push = group user/Steven Noble (sonoble)
	label-Code-Review = -2..+2 group user/Steven Noble (sonoble)
	label-Verified = -1..+1 group user/Steven Noble (sonoble)
	rebase = group user/Steven Noble (sonoble)
	removeReviewer = group user/Steven Noble (sonoble)
	submit = group user/Steven Noble (sonoble)
[access "refs/heads/*"]
	read = group user/Steven Noble (sonoble)
	create = group user/Steven Noble (sonoble)
	push = +force group user/Steven Noble (sonoble)
	pushMerge = group user/Steven Noble (sonoble)
[access "refs/tags/*"]
	push = +force group user/Steven Noble (sonoble)
	pushTag = group user/Steven Noble (sonoble)
	pushSignedTag = group user/Steven Noble (sonoble)
